#loginpage{
    text-align: center;
    color: #5C5346;
}
h1{
    color: #8BC683;

}
.login{
    color: #5C5346;
}
.username input{
    padding: 10px 60px;
    background: linear-gradient(
        to right, #8BC683 ,#F0F2EF
    );
    border: none;
    border-radius: 5px;
}
.username h2{
    margin-right: 230px;
    font-size: medium;
    font-weight:lighter ;
}
.password input{
    padding: 10px 60px;
    background: linear-gradient(
        to right, #8BC683 ,#F0F2EF
    );
    border: none;
    border-radius: 5px;
}
.password h2{
    margin-right: 230px;
    font-size: medium;
    font-weight:lighter ;
}

.button{
    padding: 20px;
}
.button button{
    padding: 10px 128px;
    background:linear-gradient(to right,#8BC683,#F0F2EF);
    border: none;
    border-radius: 5px;
}
.forgotpassword h2{
    display: inline;
    font-weight: 100;
    font-size: medium;
    padding: 35px;
}

