.slide1{
  position: absolute;
  bottom: 250px;
  left: 78%;
  transform:translateX(-50%);
  color: black;

}
.caption{
  color: white;
  text-align: center;
}
.slide img{
  width:100%;
  height:auto;
  object-fit: cover;
}