.slide1{
  position: absolute;
  bottom: 250px;
  left: 78%;
  transform:translateX(-50%);
  color: #7A601D;

}
.slide2{
  position: absolute;
  bottom: 250px;
  left: 78%;
  transform:translateX(-50%);
  color: #7A601D;

}
.slide3{
  position: absolute;
  bottom: 250px;
  left: 78%;
  transform:translateX(-50%);
  color: #7A601D;

}

