#header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}
#navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
#navbar li {
  display: inline;
  padding: 10px 40px;
  list-style: none;
}
#navbar li a {
  text-decoration: none;

}
#navbar li a:hover {
  color:black
}
.search-input {
  border: none;
  width: 100%;
  background:#E4E6E3;
  border-radius: 5px;
  margin-left: 3px;
}
.searchbar{
  display: flex;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 15%;
  background:#E4E6E3 ;
  max-width: 500px;
  border-radius: 5px;
  margin-top: 20px;
}
.searchbutton{
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.navigation {
  background-color: #E4E6E3;
  border-radius: 30px;
  margin-right: 30px;
}
